
#homePage{
    height: 100vh;
    background-position-x: center;
    background-position-y: 25%;
    // background-image: url("https://i.pinimg.com/originals/b8/27/3e/b8273e0f294958ee41d08f465320c52e.gif");
    display: absolute;
    color: black;
    background-size: cover;
    justify-content: flex-start;
    margin: 0 0% 0% 0;

    // .ityped-cursor{
    //     font-size: 2.2rem;
    //     opacity: 1;
    //     -webkit-animation: blink 0.3s infinite;
    //     -moz-animation: blink 0.3s infinite;
    //     animation: blink 0.3s infinite;
    //     animation-direction: alternate;
    // }
     
    // @keyframes blink {
    //     100% {
    //         opacity: 0;
    //     }
    // }
     
    // @-webkit-keyframes blink {
    //     100% {
    //         opacity: 0;
    //     }
    // }
     
    // @-moz-keyframes blink {
    //     100% {
    //         opacity: 0;
    //     }
    // }
}
